body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
}

.slide {
    display: none;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    animation: fadeIn 1s ease-in-out;
}

.slide h1, .slide h2 {
    margin: 0;
    padding: 20px;
}

.slide a {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.slide a:hover {
    background-color: #0056b3;
}


@keyframes slideUp {
    from { transform: translateY(100px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}



#slide1 {
    background: url('images/back01.jpg') no-repeat center center fixed; 
    background-size: cover; 
    color:white;  
    display: block;
}

#slide2, #slide3, #slide4, #slide5, #slide6 {
    background: url('images/background3.png') no-repeat center center fixed; 
    background-size: cover;
    color:white; 
}

.slide:target {
    display: block;
    animation: fadeIn 1s ease-in-out;
}

body:not(:target) #slide1 {
    display: block;
}

.enlarge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97.5%;
    max-width: 10000px;
    padding: 0.5px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute; 
    bottom: 500px;
}

.enlarge h1 {
    font-size: 48px; 
    color: #007BFF;
    margin: 0;
    padding: 10px 0;
    /* animation: fadeIn 1s ease-in-out; */
}

.submit {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 10000px;
    padding: 10px;
    text-align: center;
    position: absolute; 
    bottom: 20px; 
    /* animation: slideUp 1s ease-in-out; */
}

.submit h3 {
    font-size: 42px; 
    color: #ffffff;
    margin: 0;
    padding: 50px 0;
}

.submit p {
    font-size: 32px; 
    color: #ffffff;
    margin: 0;
    padding: 0;
    
}

.second{
    justify-content: center;
    align-items: center;
    width: 97.5%;
    max-width: 10000px;
    text-align: center;
    position: absolute; 
    bottom: 250px;
    color: black;
}
.third {
    justify-content: center;
    align-items: center;
    width: 97.5%;
    max-width: 10000px;
    text-align: center;
    position: absolute; 
    bottom: 150px;
    color: black;
}
.fourth {
    justify-content: center;
    align-items: center;
    width: 97.5%;
    max-width: 10000px;
    text-align: center;
    position: absolute; 
    bottom: 230px;
    color: black;
}
.fifth {
    justify-content: center;
    align-items: center;
    width: 97.5%;
    max-width: 10000px;
    text-align: center;
    position: absolute; 
    bottom: 200px;
    color: black;
}
.sixth {
    justify-content: center;
    align-items: center;
    width: 97.5%;
    max-width: 10000px;
    text-align: center;
    position: absolute; 
    bottom: 300px;
    color: black;
}

.button2, .button3, .button4, .button5, .button6 {
    justify-content: center;
    align-items: center;
    position: absolute; 
    bottom: 2px;
    width: 100%;
    max-width: 10000px;
    padding: 10px;
    text-align: center;  
}
